@import "../css3-mixins.scss";

.panel-heading h3{
	display: inline-block;
}
.panel-body{
	display: block;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		object-fit: cover;
	}
}